extends layout2

block content
  .content
    img(src="/images/praia.jpg" alt="Imagem de uma praia")
    h2 Nós somos a sua loja de informática
    h3 A única loja possível para quem quer economizar
    p Aqui na Gadget Store, somos apaixonados por tecnologia! Fundada com o objetivo de oferecer produtos inovadores e soluções práticas, nossa missão é garantir que você tenha acesso aos melhores dispositivos e acessórios do mercado. 
    p Desde o mais avançado hardware até os gadgets essenciais do dia a dia, estamos sempre à frente das novidades para proporcionar uma experiência de compra completa e satisfatória. Nossa equipe especializada está pronta para ajudar você a escolher o equipamento ideal, seja para otimizar seu trabalho, melhorar seu setup gamer ou simplificar suas atividades diárias com as últimas tendências tecnológicas.
    p Na Gadget Store, acreditamos que a tecnologia é uma aliada poderosa. Por isso, nos empenhamos em oferecer produtos de alta qualidade, preços justos e um atendimento personalizado. Seja você um entusiasta de tecnologia ou alguém que busca soluções simples e eficientes, estamos aqui para garantir que sua jornada digital seja sempre inovadora e emocionante.